<div id="confirmation" class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">
      <div class="ui form" ng-class="{'loading': loading}">

	<fieldset ng-disabled="pastConfirmation"> 
	<p style="text-align:center;">
	We will need some additional information from you.
	<br>
	<br>
	
	<div class="divided title">Further Information </div> 
          <div class="field">
            <label> What's your phone number? </label>
            <p>
              We need this in case we need to get ahold of you. 
	      Please include prefix if you don't use UK number.
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   placeholder="07700900395"
                   required>
          </div>
          <div class="field">
            <label> T-shirt Size </label>
            <p>
              We will supply men and women fit T-shirts. Please let us know what fit and size do you prefer: 
            </p>
            <select
              name="shirt"
              ng-model="user.confirmation.shirtSize"
              required>
              <option value="S">Men/S</option>
	      <option value="WS">Women/S</option>
              <option value="M">Men/M</option>
	      <option value="WM">Women/M</option>
	      <option value="L">Men/L</option>
              <option value="WL">Women/L</option>
              <option value="XL">Men/XL</option>
              <option value="WXL">Women/XL</option>
           </select>
          </div>
	  
	  <!-- <div class="divided title">Hardware</div> -->
	  <div class="field" style="display:none;">
			    <p> Thanks to the support of MLH, we will be supplying hardware to the event which you can use for your hack. Do you have any dream hardware kit you would like to play with at the hackathon?</p> 
             <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Yes, I would like to use hardware in my hack. </label>
             </div>
	  </div> 

           <div
            class="field"  style="display:none;"
            ng-show="user.confirmation.wantsHardware">
            <label>
              What kind of hardware would be useful for you?
            </label>
             <input type="text" ng-model="user.confirmation.hardware">
	  </div> 
	  <div class="field">
            <label> What do/did you study? </label>
	    <div id="major" class="ui search">
		    <div class="ui input">
                         <input class="prompt"
	   			type="text"
                                name="study"
                                placeholder="Computer Science, Physics, Basket Weaving, etc."
                                ng-model="user.confirmation.major">
		    </div>
		     <div class="results"></div>
	    </div>
          </div>

	  <div class="field">
            <label> What is your current level of study? </label>
	    <p> If you are not studying, what is the level of your formal education? </p>
	    <select name="level_of_study"
		    ng-model="user.confirmation.level_of_study"		    
		    required>
		 <option value="High School">High school or equivalent</option>
 		 <option value="Undergraduate">Undergraduate</option>
  		 <option value="Graduate">Graduate</option>
 		 <option value="PhD">Postgraduate</option>
		 <option value="Above PhD">Above postgraduate</option>
  		<option value="NA">Professional / Not studying</option>
	    </select>
          </div>


          <div class="field" style="display:none;">
            <label> Github </label>
            <input type="text"
                   name="github"
                   placeholder="https://github.com/foobar"
                   ng-model="user.confirmation.github">
	  </div> 

          <div class="field" style="display:none;">
            <label> Twitter </label>
            <input type="text"
                   name="twitter"
                   placeholder="https://twitter.com/foobar"
                   ng-model="user.confirmation.twitter">
          </div>

	  <div class="field" style="display:none;"> 
	    <label> Skill Sheet </label> 
             <p>
              Please upload a document outlining any skills or experience you'd like to share. This can be your CV if you have one ready. If you decide to upload your CV, please bear in mind that we may share it with our sponsors. Expect this to be helpful if you are looking for an internship! 
	  </p> 

	   <input type="file" id="CV" class="ui" onchange="handleFiles(this.files)"> 
		     <!-- ng-click="uploadCV()"> -->
           	      <!-- </button> -->

           <!-- <a
              target="_blank"
              href=""
              class="ui black button">
              Upload
	   </a> -->
	  </div>

          <div style="display: none;">
          <div class="divided title">Hosting Details</div>

          <p>
            Would you like us to find you a host? We can match you with someone so you can catch some zzz's the night before and/or the night of the event!
          </p>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.hostNeededFri">
              <label>
                <strong>
                  I would like a host for Friday, Sept. 18th.
                </strong>
              </label>
            </div>
          </div>

          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.hostNeededSat">
              <label>
                <strong>
                I would like a host for Saturday, Sept. 19th.
                </strong>
              </label>
            </div>
          </div>

          <div ng-show="user.confirmation.hostNeededFri || user.confirmation.hostNeededSat">

            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.genderNeutral">
                <label> I would be okay with gender neutral housing. </label>
              </div>
            </div>

            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.smokingFriendly">
                <label> I would be okay in housing with smoking-friendly policies. </label>
              </div>
            </div>

            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.catFriendly">
                <label> I would be okay in housing that has cats. Meow! </label>
              </div>
            </div>


            <div class="field">
              <label>
                Let us know if there's anything else we should know about matching you with a host.
              </label>
              <textarea
                name="hostNotes"
                ng-model="user.confirmation.hostNotes">
              </textarea>
            </div>

          </div>

          <br>
          <br>
 
          </div>

	  <div style="display:none;"> 
	  <div class="divided title">Travel</div>
            <div class="field">
            <p>
              As a reminder, tentative reimbursement policy is as follows:
            </p>
            <ul>
              <li> Up to £20 from within the UK </li>
              <li> Up to £40 out of UK  </li>
	    </ul>
	    </div> 

            <div class="field">
               <label> Will you be needing travel reimbursement? </label>
               <div class="ui checkbox">
                  <input type="checkbox" ng-model="user.confirmation.needsReimbursement">
                     <label> I will be needing travel reimbursement. </label>
               </div>
             </div>
             <div ng-show="user.confirmation.needsReimbursement">

             <div class="ui header">
                  Mailing Address
             </div>

             <p>
              Travel reimbursement is processed after the event. To expedite the reimbursement process and ensure that you receive your reimbursement as quickly as possible, make sure that your mailing address is accurate and you upload your receipts.
             </p>

              <div class="field">
                <label>Full Name</label>
                <input type="text"
                     name="name"
                     ng-model="user.confirmation.address.name">
              </div>

            <div class="field">
              <label> Address Line 1 - Street address, P.O. box, company name, c/o </label>
              <input
                type="text"
                name="addressLine1"
                ng-model="user.confirmation.address.line1">
            </div>

            <div class="field">
              <label> Address Line 2 - Apartment, suite, unit, building, floor, etc. </label>
              <input
                type="text"
                name="addressLine2"
                ng-model="user.confirmation.address.line2">
            </div>

            <div class="four fields">
              <div class="field">
                <label> City </label>
                <input
                  type="text"
                  name="city"
                  ng-model="user.confirmation.address.city">
              </div>
              <div class="field">
                <label> State/Province/Region </label>
                <input
                  type="text"
                  name="state"
                  ng-model="user.confirmation.address.state">
              </div>
              <div class="field">
                <label> ZIP </label>
                <input
                  type="text"
                  name="zip"
                  ng-model="user.confirmation.address.zip">
              </div>
              <div class="field">
                <label> Country </label>
                <input
                  type="text"
                  name="country"
                  ng-model="user.confirmation.address.country">
              </div>
            </div>

            <div class="field">
              <label> Travel Receipt </label>
              <p>
                So that we can process your reimbursement faster, please name your receipt: <strong>{{fileName}}</strong>
              </p>
              <a
                target="_blank"
                href="https://go.hackmit.org/travel-receipts"
                class="ui black button">
                Upload Receipt
              </a>
            </div>

          </div>
	  </div> 
	   
           <br>
	   <br>
	   
	  <div class="divided title"> Health and Safety </div> 
	   <div class="field">
            <label> Dietary Restrictions </label>
            <p>
              If your restriction is not included here, please let us know in the additional notes at the bottom.
            </p>

          </div>

          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">
              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>

            </div>
          </div>
	  <div class="field">
	   <label> Medical Conditions </label>
	   <p>
	   Please let us know if you have any medical conditions that we should know about to ensure your safety and well-being during the hackathon.
	   </p>
	   <textarea
              ng-model="user.confirmation.medical"></textarea>
	  </div>

	  <br>
	  <br>
	   <div class="divided title"> Stats </div>
	   MLH collects statistics on ethnicity of participants. If you don't like to answer this question, please choose `prefer not to answer'.
	   
	   <br>
	   <br>

	   <div class="field"> 
		 <label>Ethnicity</label>
                 <select name="ethnicity"
		         ng-model="user.confirmation.ethnicity"		
			 required>
		 <option value="American Indian or Alaskan Native">American Indian or Alaskan Native</option>
 		 <option value="Asian / Pacific Islander">Asian / Pacific Islander</option>
  		 <option value="Black or African American">Black or African American</option>
 		 <option value="Hispanic">Hispanic</option>
		 <option value="White / Caucasian">White / Caucasian</option>
		 <option value="Multiple Ethnicity">Multiple ethnicity / Other</option>
                 <option value="Prefer not to answer">Prefer not to answer</option>
	    </select>

		   
	   </div> 

	  <br>
	  <br>
          <div class="divided title">Legal Matters</div>
	  <p> Please review the information in the documents below: </p>
          <div class="field"> 
		  <!-- <label> Liability Waiver </label> -->
           <ul>
	      <li>
              <a
                target="_blank"
                href="http://www.oxfordhack.uk/docs/consent_oh.pdf">
                Liability Waiver
              </a> - In case of unfortunate events during the hackathon. </li>
            
	    <li>
              <a
                target="_blank"
                href="http://www.oxfordhack.uk/docs/photo_consent_oh.pdf">
                Photo Release
              </a> - We will be taking pictures of you. 
            </li>
	     <li>
              <a
                target="_blank"
                href="http://www.oxfordhack.uk/docs/mlh-code-of-conduct.pdf">
                MLH Code of Conduct
              </a> - Your promise to behave well.
	     </li></ul>
           	     <p>
              By writing my name below, I affirm that I have read and accepted the terms of the liability waiver, photo release and MLH code of conduct.  I also authorize you to share my application/registration information for event administration, ranking, MLH administration, pre- and post-event informational e-mails, and occasional messages about hackathons in-line with the MLH Privacy Policy. I further I agree to the terms of both the MLH Contest Terms and Conditions and the MLH Privacy Policy.
              </p>
            <input type="text"
                   name="signature"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signature">
          </div>
	  <!-- <div class="field">
				               <div class="ui checkbox">
            <input type="checkbox" id="adult" ng-model="user.confirmation.checkboxMLH">
	    <label for="adult"> </label> -->
          <div class="field">
		  <br>
		  <br>
            <div class="divided title">Additional Notes</div> 
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui black button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
